@tailwind base;
@tailwind components;
@tailwind utilities;



.font-outline {
  text-shadow: 0 1px 1px #aaa, 0 -1px 1px #aaa, 1px 0 1px #aaa, -1px 0 1px #aaa;
  color: #000;
}

.nav-background {
  background: linear-gradient(0.35turn, #c40235 35%, #ff5800 45%, #080810 50%, #ff5800 55%, #c40235);
}

.sub-bg {
  background: linear-gradient(0.35turn,
      #e60f47,
      #c40235,
      #ff5800,
      #ff8605);
  background-size: 200%;
}

.log-bg {
  background: linear-gradient(0.35turn,
      #e60f47,
      #c40235,
      #ff5800,
      #ff8605);
}

.log-bg2 {
  background: linear-gradient(0.35turn, #9b9bc9, #9b9bc9, #9b9bc9);
}

.textgrd {
  background: -webkit-linear-gradient(0.85turn,
      #e60f47,
      #e60f47,
      #ff5800,
      #ff5800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.schshadow {
  box-shadow: 0 4px 8px 0 rgba(230, 15, 71, .2), 0 6px 20px 0 rgba(255, 88, 0, .2);
  transition: box-shadow 500ms;
}

.schshadow:hover {
  box-shadow: 0 4px 18px 0 rgba(230, 15, 71, .4), 0 6px 45px 0 rgba(255, 88, 0, .4);
}
.barbg{
  background: linear-gradient(to bottom,
    #e60f47 40%,
    #ff5800 60%
  );
}

body {
  max-width: 100vw;
  background-color: #080810;
}

a,button{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:focus, button:focus{
  outline: none !important;
}

.horzbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.horzbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hidden-cursor{
  cursor: none !important;
}